@import "tailwindcss";

:root {
  --background: #f0f2f8;
  --foreground: #111827;
  --color-shell: #edf0f5;
  --color-panel: #ffffff;
  --color-border: #e8ebf3;
  --color-sidebar: #05072d;
  --color-accent: #5b61ff;
  --color-title: #131728;
  --color-soft: #8088a2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta-sans), sans-serif;
}
